<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Bible Bowl Hub{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='site.css')}}">
        <script src="https://kit.fontawesome.com/633f855bec.js" crossorigin="anonymous"></script>
        <meta name="description" content="A competetive space for Bible Bowlers to quiz over the material they have learned this year.">
        <meta name="keywords" content="Bible Bowl, #LearnIt, #LiveIt, #PlayIt, Bible text, Quiz, quiz game">
    </head>
    <body>
        <main>
            <span class="menu">
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>News</li>
                        <li>Login</li>
                    </ul>
                </nav>
            </span>
            <span class="content">
                {% block content %}
                <p class="error">An error has occured in this template. Please contact system admin</p>
                {% endblock %}
            </span>
        </main>
        <footer>

        </footer>
        <script src="{{url_for('static', filename='script/main.js')}}"></script>
    </body>
</html>